body {
	background-color: #FEF49B;
	margin: 0;
	width: 700px;
	height: 740px;
	background-repeat: no-repeat;
}
header {
	font-family: 'Gloria Hallelujah', cursive;
    font-size: 80px;
    float: left;
    margin-left: 82%;
    width: 800px;
}
.background {
	float: left;
    margin-left: 158%;
    margin-top: -15%;
    height: 300px;
}
#container {
    height: 300px;
    width: 350px;
    border-collapse: collapse;
    margin: 0;
    margin-left: 92%;
}
#data {
    float: left;
    margin-left: -108%;
}
#playAgain {
    background-color: #FEF49B;
    border-radius: 25px;
    border: 0;
    text-shadow: 1px -1px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #EB1B28;
    font-size: 19px;
    padding: 11px;
}
#playAgain:hover {
    background: grey;
    filter: alpha(opacity=20);
}
#game {
    height: 100px;
    width: 100px;
    border: 5px solid grey;
    float: left;
    display: inline-block;
    border-collapse: collapse;
    margin: 1%;
    padding: 0;
}
#game.ng-scope:hover {
    background: white;
}

.pink {
    background: pink;
}

.blue {
    background: lightblue;
}